/*css reset start*/
/*body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}*/
/*css reset end*/
/*css body start*/
body{
	font-weight: bold;
	font-family: Arial,sans-serif;
}
.sec1 .sec1_detail,
.sec2 .sec2_detail{
	overflow: hidden;
}
.sec1 .sec1_detail p,
.sec2 .sec2_detail p{
	float:left;
	margin-right: 40px;
}
.sec1 .sec1_detail p span,
.sec2 .sec2_detail p span{
	float:left;
	margin-right: 10px;
}
.sec2 .sec2_detail p a{
	color:blue;
}
/*css style_3 add*/
body,h1,h3,p{
	padding:0;
	margin:0;
}
.caption{
	width: 100%;
	background-color: #9a9998;
	height: 100px;
	line-height: 100px;
}
.caption h1{
	color:#fff;
	margin-left:50px;
}
.allsec .sec{
	width: 100%;
	height: 150px;
	margin-bottom: 2px;
	position: relative;
}
.allsec .sec:after{
	content:"";
	width: 92%;
	height: 1px;
	position: absolute;
	left:120px;
	background-color: #000;
	top:150px;
}
.allsec .sec h3{
	float: left;
	width: 8%;
	height: 150px;
	line-height: 150px;
	background-color: #e3e3e3;
	margin-right: 20px;
	text-align: center;
}
.allsec .sec .sec_detail{
	padding-top: 20px;
}
/*css body end*/