/*css reset start*/
/*body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}*/
/*css reset end*/
/*css body start*/
body{
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding:0;
	margin:0;
}
.tab{
	width: 306px;
	height: 52px;
}
.tab1,.tab2,.tab3{
	width: 100px;
	height: 50px;
	float:left;
	background-color: #e0e698;
	text-align: center;
	line-height: 50px;
	border:1px solid #000;
}
.tab1:hover,.tab2:hover,.tab3:hover{
	background-color: #aca675;
}
.sec1 .sec1_detail,
.sec2 .sec2_detail{
	overflow: hidden;
}
.sec1 .sec1_detail p,
.sec2 .sec2_detail p{
	float:left;
	margin-right: 40px;
}
.sec p span{
	display: block;
}
.sec1 .sec1_detail p span,
.sec2 .sec2_detail p span{
	float:left;
	margin-right: 10px;
}
.sec2 .sec2_detail p a{
	color:blue;
}

/*css style_2.css add*/
.caption{
	text-align: center;
	float: left;
	width: 200px;
	height: 740px;
	background-color: #4c95f0;
	margin-right: 20px;
	/*position: absolute;
	top:52px;*/
}
.caption h1{
	color:#fff;
	margin-top:60px;
}
.allsec{
	float: left;
}
/*.sec{
	margin-left:200px;
}*/
/*css body end*/