/*css reset start*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
/*css reset end*/
/*css header start*/
body{
	font-family: "Montserrat";
}
header{
	height: 120vh;
	width: 100%;
	background:url(../img/bg.png);
	overflow: hidden;
}
header > p:first-child{
	font-size: 62px;
	color:#fff;
	text-align: center;
	margin-top: 200px;
}
header > p:nth-child(2){
	color:#615f59;
	font-size: 20px;
  	text-align: center;
  	width: 770px;
  	margin:75px auto 100px;
  	line-height: 1.6;
}
header .signup{
	width: 970px;
	height: 250px;
	text-align: center;
	margin:0 auto;
	border-top: 1px solid #585651;
	border-bottom: 1px solid #585651;
}
header .signup p:first-child{
	font-size: 16px;
  	color:#fff;
  	line-height: 1.75;
  	margin-top: 55px;
	text-transform: uppercase;
}
header .signup p:nth-child(2){
	font-size: 12px;
	color: rgba( 255, 255, 255, 0.302 );
	text-transform: uppercase;
	margin-top: 5px;
}
header .signup input[type="text"]{
	border:1px solid rgba( 255, 255, 255, 0.2);
	border-radius: 2px;
	width: 280px;
  	height: 50px;
  	background-color: transparent;
  	margin-top: 40px;
  	padding-left: 10px;
  	color: #fff;
}
header .signup input[type="text"]::-webkit-input-placeholder{
	color:#fff;
	opacity: 1;
}
header .signup input:nth-child(4){
 	margin-left: 20px;
 	margin-right: 20px;
}
header .signup input[type="button"]{
 	width: 125px;
 	height: 50px;
 	color: #000;
 	font-size: 12px;
 	margin-top: 40px;
}
/*css header end*/
/*sec1 css start*/
.sec1{
	width: 100%;
	height: 700px;
	background-color: #fff;  
}
.sec1 > p:first-child{
  font-size: 14px;
  color: rgb(20, 20, 20);
  text-transform: uppercase;s
  line-height: 2;
  text-align: center;
  margin-top: 85px;
}
.sec1 > p:nth-child(2){
  font-size: 42px;
  color: rgb(20, 20, 20);
  line-height: 1.238;
  text-align: center;
  margin-top:30px;
}
.sec1 .icons{
	width: 1030px;
	margin:0 auto;
	margin-top:80px;
}
.sec1 .icons .icon{
	width: 430px;
	height: 125px;
}
.sec1 .icons .icon img{
	float: left;
}
.sec1 .icons .icon h6{
	width: 360px;
	float: right;
	font-size: 20px;
  	color: rgb(20, 20, 20);
  	line-height: 1.6;
  	margin-top:-6px;
  	margin-bottom: 20px;
}
.sec1 .icons .icon p{
	width: 360px;
	float: right;
	font-size: 16px;
	color: rgba(20, 20, 20, 0.702);
	line-height: 1.625;
}
.sec1 .icon:nth-child(1),
.sec1 .icon:nth-child(3){
	float: left;
}
.sec1 .icon:nth-child(2),
.sec1 .icon:nth-child(4){
	float: right;
}
.sec1 .icon:nth-child(3),
.sec1 .icon:nth-child(4){
	margin-top: 60px;
}
/*sec1 css end*/
/*sec2 css start*/
.sec2{
	width: 100%;
	height: 800px;
	position: relative;
	background: url(../img/bg1.png);
}
.sec2 .leftside{
	width: 970px;
	margin:0 auto;
	overflow: hidden;
}
.sec2 .leftside p:first-child{
  font-size: 42px;
  color: #fff;
  line-height: 1.238;
  text-align: left;
  width: 400px;
  margin-top: 170px;
}
.sec2 .leftside p:nth-child(2){
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
  line-height: 1.556;
  text-align: left;
  width: 400px;
}
.sec2 .leftside input{
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 240px;
  height: 60px;
  border:0;
  margin-top: 30px;
}
.sec2 .leftside input:nth-child(4){
	background-color:transparent;
	border:1px solid #6b736e;
	margin-left:20px;
	color:#fff;
}
.sec2 .rightside{
	position: absolute;
	top:100px;
	right: 0;
	border:1px solid #6b736e;
	padding:30px 0 30px 60px ;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
/*sec2 css end*/
/*sec3 css start*/
.sec3{
	width: 100%;
	background: #fff;
}
.sec3 > p {
  font-size: 42px;
  color: rgb(20, 20, 20);
  line-height: 1.238;
  text-align: center;
  height: 41px;
  margin-top: 100px;
}
.sec3 .essays{
	width: 965px;
	margin:100px auto 0;
	overflow: hidden;
}
.sec3 .essays > div{
	width: 240px;
	height: 250px;
	float: left;
	text-align: center;
}
.sec3 .essays .essay2,
.sec3 .essays .essay3{
	margin-left:122px;
}
.sec3 .essays > div p {
  font-size: 16px;
  color: rgba(20, 20, 20, 0.702);
  line-height: 1.625;
}
.sec3 .pics{
	width: 965px;
	margin:200px auto 0;
	overflow: hidden;
}
.sec3 .pics .pic1,
.sec3 .pics .pic2{
	overflow: hidden;
}
.sec3 .pics .pic1{
	margin-top: 30px;
}
.sec3 .pics .pic1 img{
	float: left;
}
.sec3 .pics b{
	line-height: 1.6;
	width: 295px;
    height: 60px;
    color: rgb(20, 20, 20);
    font-size: 20px;
    margin-top:30px;
}
.sec3 .pics p{
     font-size: 16px;
    color: rgba(20, 20, 20, 0.702);
    line-height: 1.75;
    width: 295px;
    height: 156px;
    margin-left: 100px;
    margin-top:30px;
}
.sec3 .pics .pic1 b{
	margin-left:100px;
	float: left;
}
.sec3 .pics .pic1 p{
	float: left;
}
.sec3 .pics .pic2 p{
	margin-left: 0px;
}
.sec3 .pics .pic2 img{
	float: right;
	margin-left:100px;
	margin-top:-300px;
}
.sec3 .pics .pic2 b{
	line-height: 1.6;
    display: block;
    width: 340px;
    font-size: 20px;
    color: rgb(20, 20, 20);
    margin-top:150px;
}
.sec3 .pics p{
     font-size: 16px;
    color: rgba(20, 20, 20, 0.702);
    line-height: 1.75;
    width: 295px;
    height: 156px;
    margin-left: 100px;
    margin-top:30px;
}
/*sec3 css end*/
/*sec4 css start*/
.sec4 {
	width: 100%;
	overflow: hidden;
}
.sec4 p:first-child{
  font-size: 42px;
  color: rgb(20, 20, 20);
  line-height: 1.238;
  text-align: center;
  margin-top:200px;
}
.sec4 p:nth-child(2){
 font-size: 18px;
  color: rgba(20, 20, 20, 0.702);
  line-height: 1.556;
  text-align: center;
  margin-top:40px;
  margin-bottom: 50px;
}
.sec4 .pics{
	width: 970px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.sec4 .pics .pic{
	float:left;
	position: relative;
	z-index: 98;
}
.sec4 .pics .pic1,
.sec4 .pics .pic3{
	margin-right:20px;
}
.sec4 .pics .pic1,
.sec4 .pics .pic2{
	margin-bottom:20px;
}
.sec4 .pics .pic .acitve{
	width:470px;
	height:340px;
	background-color: #000;
	opacity: 0.8;
	position: relative;
	top:0;
	left:-470px;
	z-index: 99;
}